<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="This application is made for foreign tourists who enter the country of Indonesia. They can look for restaurants that serve delicious and Indonesian food. They can also leave a review on the restaurant's profile page and tell other tourists about the restaurant."
    />
    <meta name="theme-color" content="#346751" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="favicon.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Hunger App</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <head-desktop
      class="lazyload"
    ></head-desktop>

    <div id="loader">
      <div class="head-desktop-loading">
        <div class="title-loading skeleton"></div>
      </div>
      <div class="content-loading skeleton"></div>
    </div>
    <main id="content"></main>

    <!-- footer -->
    <footer>
      <h3 class="footerText">copyright © 2021 - Hunger Apps</h3>
    </footer>
  </body>
</html>
