@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

// LOADING
#loader {
  background-color: #f2f5f7;
}

.head-desktop-loading {
  background-color: white;
  width: 100%;
  min-height: 40vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title-loading {
    &.skeleton {
      width: 300px;
      height: 30px;
    }
  }
}

.content-loading {
  &.skeleton {
    // NOTICE THIS
    min-height: 40vh;
  }
}

// THE LOADING EFFECT
.skeleton {
  background-color: #e2e5e7;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

// LOADED
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
  font-family: "Nunito", sans-serif;
  background-color: #f5f5f5;
}

/* skip-header */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* head  */
/* --navigation */
head-desktop {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  .menuMobile {
    display: none;
    background: none;
    border: none;
  }
  .appName {
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 72px;
  .navList {
    display: flex;
    .navItem {
      list-style-type: none;
      transition: 0.2s;
      margin: 0 23px;
      a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

/* CONTENT */
#content {
  display: none;
  /* hero */
  .hero {
    position: relative;
    width: 100%;
    padding: 0 72px;
    .overlay {
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.6) 36.82%,
        rgba(0, 0, 0, 0) 73.48%
      );
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    .heroImage {
      width: 100%;
      height: 462px;
    }
    .heroImage img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }
    .heroContent {
      position: absolute;
      z-index: 20;
      top: 25%;
      padding: 0 24px;
      color: white;
      .heroTitle {
        font-size: 24px;
        font-weight: 400;
        .explore-text {
          font-size: 64px;
        }
      }
      .heroTagline {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      .searchButton {
        padding: 14px 132px;
        background-color: #fff;
        border-radius: 50px;
        text-decoration: none;
        color: #000;
      }
    }
    .pil-items {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
      position: absolute;
      top: 90%;
      z-index: 20;
      width: 90%;
      padding: 0;
      .pil-item {
        display: flex;
        align-items: center;
        padding: 34px 72px;
        box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
      }
      .pil-1 {
        background-color: #f5eedc;
      }
      .pil-2 {
        background-color: #dd4a48;
      }
      .pil-3 {
        background-color: #c0d8c0;
      }
    }
  }
}

/*main - body explore */
.bodycontent {
  padding: 120px 128px;
  /* main - restaurant-list */
  #restaurant-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.title-section {
  padding: 10px;
}

.box-infoRestaurant {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 265px;
  padding: 20px;
  .imageRestaurant {
    width: 100%;
    height: 163px;
    margin-bottom: 10px;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .link-box-infoRestaurant {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s ease;
    width: 100%;
    .infoRestaurant {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .restaurant-city {
        font-size: 13px;
        font-weight: 600;
        color: #c0d8c0;
      }
      .restaurant-name {
        font-size: 16px;
        font-weight: 600;
        color: #dd4a48;
      }
      .right-info {
        display: flex;
        align-items: center;
        .restaurant-rating {
          font-size: 16px;
          font-weight: 600;
          color: #878787;
        }
      }
    }
  }
}

#recommended-section {
  padding: 120px 128px;
}

.recommended-food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 56px;
  margin-top: 10px;
  .recommended-image {
    width: 493px;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .recommended-info {
    width: 560px;
    .title {
      font-weight: 800;
      font-size: 48px;
      color: #dd4a48;
    }
    .food-name {
      font-weight: 700;
      font-size: 32px;
      color: #000;
    }
    .food-desc {
      font-weight: 400;
      font-size: 15px;
      color: #000;
    }
  }
}

/* contact */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: #161616;
  .email {
    color: #161616;
    .email-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      margin-top: 10px;
      border-radius: 50px;
      background-color: #ecdbba;
      .gmail-logo {
        width: 50px;
      }
    }
  }
}

footer {
  display: none;
  padding: 30px;
  text-align: center;
  background-color: #161616;
  color: #ecdbba;
}

/* FAVORITE_PAGE */
#favorite-restaurant-list {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  // nothing-liked
  .nothingSection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    .info-nothingLiked {
      font-size: 18px;
      font-weight: 400;
      margin: 10px;
    }
    .nothing-image {
      width: 50%;
    }
  }
}

/* DETAIL_PAGE */
.restaurantImageClass {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

#restaurantDetail {
  display: flex;
  justify-content: center;
  width: 100%;
}

.restaurantDetailClass {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.head-restaurantDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 5px 0;
  .restaurant-name-detail {
    color: #c84b31;
  }
  .restaurant-city-detail,
  .restaurant-rating-detail {
    font-weight: 500;
  }
  .restaurant-rating-detail {
    font-size: 24px;
    .star-rating-img {
      width: 20px;
    }
  }
}

.menuRestaurant {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}

#review-restaurant {
  display: flex;
  flex-wrap: wrap;
  .review-box {
    background-color: #ecdbba;
    width: 40%;
    padding: 10px;
    margin: 10px;
    .review-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .reviewDate {
        font-size: 12px;
      }
    }
  }
}

#add-new-review {
  margin: 20px;
  fieldset {
    padding: 10px;
    input {
      margin-top: 5px;
    }
    #nameReviewer-input {
      padding: 10px;
      width: 150px;
      height: 45px;
    }
    #descriptionReview-input {
      padding: 10px;
      width: 100%;
      height: 50px;
    }
    #sendReview-input {
      background-color: #ecdbba;
      border: none;
      border-radius: 3px;
      padding: 5px;
      height: 45px;
      width: 60px;
    }
  }
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
